
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.content {
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}


.message {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}


.errors {
    color: #FF0000;
    margin-top: 10px;
}

.errors li {
    margin-bottom: 5px;
}


.form {
    margin: 0 auto;
    max-width: 400px;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fieldcontain {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

.required-indicator {
    color: #FF0000;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 16px;
}

input[type="file"] {
    display: inline-grid;
}

.save {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: auto;
    font-size: 18px;
}

.thumbnail a {
    color: #FF0000;
    text-decoration: none;
    margin-left: 10px;
}

.image-upload-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px 0;
}


.file-drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.file-label {
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

.file-drop-area.dragover {
    background-color: #f0f0f0;
    border-color: #4CAF50;
}

